*::selection {
  background-color: var(--primary, #fb00d1);
  color: white;
  box-sizing: border-box !important;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box !important;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  font-size: var(--font-size);

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* 自定义滚动条轨道 */
  *::-webkit-scrollbar-track {
    background-color: var(--color-primary-bg);
    border-radius: 2px;
  }

  /* 自定义滚动条滑块 */
  *::-webkit-scrollbar-thumb {
    background: #74ebd5; /* fallback for old browsers */
    background: linear-gradient(
      to bottom,
      #acb6e5,
      #74ebd5
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 2px;
  }

  /* 当鼠标悬停在滚动条上时滑块的样式 */
  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary);
  }
}
img {
  user-select: none;
  display: inline;
}
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--primary);
}
video::-internal-media-controls-download-button {
  display: none;
}
video::-webkit-media-controls-enclosure {
  overflow: hidden;
}
video::-webkit-media-controls-panel {
  width: calc(100% + 30px);
}

button {
  display: inline-flex !important;
  justify-content: center;
  align-items: center !important;
}
